<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.8" />
  </startup>
  <appSettings>
    <add key="IntervalMinutes" value="1" />
    <add key="FromAddresses" value="emamigroup.com,instavans.com" />
    <!--Graph client credentials-->
    <add key="ClientId" value="580e6010-4b79-46ed-ad23-a422bec970f0" />
    <add key="Scopes" value="User.Read,Mail.Read" />
    <add key="TenentId" value="0b5a98ee-ffb0-4615-b6c7-17efc911d396" />
    <add key="MicrosoftLogin" value="https://login.microsoftonline.com/" />
    <add key="Sql" value="Sql" />
    <add key="IsBodyValidationRequired" value="Y"/>
    <add key="IsFromAddressValidationRequired" value="Y"/>
    
    <add key="ClientSettingsProvider.ServiceUri" value="" />
  </appSettings>
  <connectionStrings>
    <add name="NpgSqlAuthContext" connectionString="Data Source=ASD1MS-NEW\SQLEXPRESS;Initial Catalog=OlamInboundMail; User ID = sa; Password=wits@123; Trusted_Connection=False;" />
    <add name="SqlAuthContext" connectionString="Data Source=ASD1MS-NEW\SQLEXPRESS;Initial Catalog=OlamInboundMail; User ID = sa; Password=wits@123; Trusted_Connection=False;" />
  </connectionStrings>
  <system.web>
    <membership defaultProvider="ClientAuthenticationMembershipProvider">
      <providers>
        <add name="ClientAuthenticationMembershipProvider" type="System.Web.ClientServices.Providers.ClientFormsAuthenticationMembershipProvider, System.Web.Extensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" serviceUri="" />
      </providers>
    </membership>
    <roleManager defaultProvider="ClientRoleProvider" enabled="true">
      <providers>
        <add name="ClientRoleProvider" type="System.Web.ClientServices.Providers.ClientRoleProvider, System.Web.Extensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" serviceUri="" cacheTimeout="86400" />
      </providers>
    </roleManager>
  </system.web>
</configuration>